 h1{
   color: crimson; 
     }

     h2,p{
         color: cornsilk;
         text-align: center;
        font-family: monospace;
     }

     .header{
        background-color:rgb(24, 9, 9);
        display: flex;
        justify-content: space-between;

     }

     .grid{
         display: flex;
         flex-wrap: wrap;
         justify-content: space-evenly;
     }

     .footer{
         display: flex;
         justify-content: flex-end;
     }
